<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="ErrorLogMonitor" class="framework.monitor.error.ErrorLogMonitor">
	</bean>
	
	<bean id="throwableCompositeMonitor" class="framework.monitor.CompositeMonitor">
		<constructor-arg>
			<list>
 				<ref bean="ErrorLogMonitor"/>
 			</list>
		</constructor-arg>
	</bean>
	
	<bean id="DefaultThrowableMonitor" class="framework.monitor.error.throwable.DefaultThrowableMonitor">
		<property name="errorMonitors">
			<list>
 				<ref bean="throwableCompositeMonitor"/>
 			</list>
		</property>
	</bean>
</beans>